<template>
    <div>
        <p>
            Voici un projet de listage de courses
        </p>
        <p>
            permettant de gérer plusieurs listes de courses.
        </p>
        <p>
            Il permet par exemple de regrouper les souhaits par catégories.
        </p>
    </div>
</template>

<script>
    export default {
        name: 'Home'
    }
</script>

<style>

</style>
