<template>
  <div>
    <span v-if="!editing" @dblclick="editIngredient">{{name}}</span>
    <span v-else><input type="text" v-model="name" @blur="validateEditIngredient" @keyup.enter="validateEditIngredient" @keyup.esc="cancelEditIngredient" v-focus/></span>
    <span class="remove-ingredient" @click="removeIngredient">&times;</span>
  </div>
</template>

<script>
  export default {
    name: 'ingredient',
    props: {
      ingredient: {
        type: Object,
        required: true
      },
      index: {
        type: Number,
        required: true
      }
    },
    data () {
      return {
        'id': this.ingredient.id,
        'name': this.ingredient.name,
        'editing': this.ingredient.editing,
        'nameBeforeEdit': ''
      }
    },
    methods: {
      editIngredient() {
        this.nameBeforeEdit = this.name;
        this.editing = true;
      },
      validateEditIngredient() {
        this.editing = false;
        if (this.name.trim() === '') {
          this.$emit('removingIngredient', this.id);
          alert("L'élément a bien été supprimé.");
        } else {
          this.$emit('finishingIngredient', {
            'index': this.index,
            'ingredient': {
              'id': this.id,
              'name': this.name,
              'editing': this.editing
            }
          });
        }
      },
      cancelEditIngredient() {
        this.name = this.nameBeforeEdit;
      },
      removeIngredient() {
        this.$emit('removingIngredient', this.id);
      }
    }
  }
</script>
