<template>
  <div>
    <h2>
      Vue de mes listes
    </h2>
      <div v-for="(mylist, index) in mylists" :key="mylist.id">
        <router-link :to="{ name: 'MyList', params: { id: index }}">
          <img src="../assets/cadi_logo.png" class="my-vue-logo">
          <span>{{mylist.name}}</span>
        </router-link>
        <div>Cette liste contient {{mylist.length}} éléments</div>
      </div>
    <router-link to="/new"><input type="button" value="Ajouter une liste"/></router-link>
  </div>
</template>

<script>
    import MyList from './MyList'

    export default {
        name: 'MyLists',
        props: ['nameList'],
        components: {
            MyList
        },
        data () {
            return {
                newList: '',
                mylists: [
                    {
                        id: 0,
                        name: 'Mes fruits',
                        ingredients: ''
                    },
                    {
                        id: 1,
                        name: 'Les légumes',
                        ingredients: ''
                    }
                ]
            }
        },
        mounted() {
            var lSMyLists = localStorage.getItem('mylists');
            if (lSMyLists) {
                this.mylists = lSMyLists;
            }
            if (this.nameList) {
                this.mylists.push({
                    id: this.mylists.length,
                    name: this.nameList,
                    ingredients: ''
                });
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .remove-ingredient {
    cursor: pointer;
  }
</style>
