<template>
  <div>
    <h2>
      Vue de la liste n°[PUTidHERE]
    </h2>
    <div>
      <input type="text" placeholder="Ajouter un élément" v-model="newIngredient" @keyup.enter="addIngredient"/>
      <ingredient v-for="(ingredient, index) in ingredients" :ingredient="ingredient" :index="index" :key="ingredient.id" @removingIngredient="removeIngredient" @finishingIngredient="finishedIngredient"></ingredient>
      <input type="submit" value="Valider la liste" @sumbit="validateList"/>
    </div>
    <p>Usage :</p>
    <ul>
      <li>Ajouter un élément dans l'input et valider avec la touche "Entrée".</li>
      <li>Supprimer un élément en cliquant sur la croix à sa droite.</li>
      <li>Double cliquer sur un élément pour l'éditer.</li>
      <li>Vider son champ revient à le supprimer.</li>
      <li>Annuler son édition avec la touche "Echape"</li>
      <li>Envoyer sa liste</li>
    </ul>
  </div>
</template>

<script>
  import Ingredient from './Ingredient'

  export default {
    name: 'MyList',
    components: {
      Ingredient
    },
    data () {
      return {
        newIngredient: '',
        nameBeforeEdit: '',
        ingredients: [
          {
            id: 1,
            name: 'Des fruits',
            editing: false
          },
          {
              id: 2,
              name: 'Légumes',
              editing: false
          },
          {
              id: 3,
              name: 'Patates',
              editing: false
          }
        ]
      }
    },
    directives: {
      focus: {
        inserted: function(e) {
          e.focus();
        }
      }
    },
    methods: {
      addIngredient() {
        if (this.newIngredient.trim() !== null) {
          this.ingredients.push({
            id: this.ingredients.length,
            name: this.newIngredient,
            editing: false
          });
        }
        this.newIngredient = '';
      },
      editIngredient(ingredient) {
        this.nameBeforeEdit = ingredient.name;
        ingredient.editing = true;
      },
      validateEditIngredient(ingredient) {
        ingredient.editing = false;
        if (ingredient.name.trim() === '') {
          this.removeIngredient(ingredient.id);
          alert("L'élément a bien été supprimé.");
        }
      },
      finishedIngredient(data) {
        this.ingredients.splice(data.index, 1, data.ingredient);
      },
      cancelEditIngredient(ingredient) {
        ingredient.name = this.nameBeforeEdit;
      },
      removeIngredient(index) {
        this.ingredients.splice(index, 1);
      },
      validateList() {
          this.$emit('validateList', {
              'idList': this.$route.params.id,
              'ingredients': this.ingredients
          });
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .remove-ingredient {
    cursor: pointer;
  }
</style>
