<template>
    <div>
        <h2>
            VOICI LE FORMULAIRE DE CREATION DE LISTE !
        </h2>
        <label for="nameListInput">Nommer une nouvelle liste :</label><input id="nameListInput" v-model="nameList" type="text" />
        <router-link :to="{ name: 'MyLists', params: { nameList } }"><input type="submit" value="Créer"/></router-link>
    </div>
</template>

<script>
    export default {
        name: 'NewList',
        data () {
            return {
                nameList: ''
            }
        },
        methods: {
            checkSubmit() {
                this.emit('createNewList', {
                    'nameList': this.nameList
                });
                this.$router.push("/listing");
            }
        }
    }
</script>