<template>
  <div id="app">
    <div class="my-header">
      <router-link to="/"><img src="./assets/logo.png" class="my-vue-logo"></router-link>
      <router-link to="/listing">Mes listes</router-link>
    </div>
    <router-view/>
    <div class="my-footer"> Complots faciles : Frodon n'a jamais parcouru la liste du milieu.</div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .my-vue-logo {
    width: 3%;
  }

  .my-header {
    border: deeppink 3px solid;
    border-radius: 5px;
  }

  .my-footer {
    border: darkgrey 3px solid;
    border-radius: 5px;
  }
</style>
